body {
    background-color: black;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  img {
    border: 10px solid white;
    margin-top: 60px;
  }
  div {
    text-align: center;
    color: white;
  }
  h1 {
    font-size: 50px;
  }